@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
html{
    background-color: #950101;
    padding: 5%;
    overflow: hidden;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Patua One', cursive;
    font-size: 55px;
    color: #EEEEEE;
    filter: drop-shadow(2px 2px #DEDEDE);
    -webkit-text-stroke: 2px black;
}
.content{
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajas{
    width: 50%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.caja{
    width: 150px;
    padding: 10px;
    filter: drop-shadow(4px 3px #3D0000);
    transition: filter 1s;
}
.caja:hover {
    width: 165px;
    filter: drop-shadow(0 0 0.8rem #FF4949);
}
.caja2{
    width: 150px;
    padding: 10px;
    filter: drop-shadow(4px 3px #3D0000);
    display: none;
}
.caja2:hover {
    width: 165px;
    filter: drop-shadow(0 0 0.8rem #FF0000);
}

.pantalla{
    width: 100%;
    height: 110%;
    background-color: #3D0000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    display: none;
}
.carta{
    width: 500px;
    height: 70vh;
    background: white;
    border: 15px solid #DEDEDE;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    padding: 15px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    overflow-y: auto;
}

.aiku, .arlett, .mari, .nai, .pomsky, .monaart, .kenny, .yumi,.barix{
    display: none;
}

@media screen and (min-width:1728px){
    .cajas{
        width: 40%;
        display: flex;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cajas{
        width: 60vw;
        display: flex;
    }
}

@media screen and (max-width:414px) {
    .cajas{
        width: 100%;
        display: flex;
    }
    .carta{
        width: 300px;
    }
    html{
        overflow-y: auto;
    }
}